<style type="text/CSS">
		.bolded{
			font-weight:500;
      
		.text-center{
			text-align:center;
		}
		.jumbotron{
			background-image:url('http://paperlief.com/images/light-blue-sky-wallpaper-5.jpg');
			background-size:cover;
			text-aligh:center;
			
		}
		.centered{
			
			position :relative;
			left:400px;
			
		}
		.btn-pos{
			position:relative;
			bottom:2px;
		}
		#inlineFormInputGroupUsername2{
			width:370px;
			margin:0 auto;
		}
		#awesome{
			font-weight:bold;
			font-size:200%;
			text-align:center;
			margin:45px;
		}
		#summary{
			text-align:center;
			font-size:20px;
			margin-bottom:100px;
		}
		.ctitle{
			position:relative;
			left:40px;
			bottom:30px;
		}
		.download-box{
			
			background-color:#00ffcc;
			height:400px;
			
			text-align:center;
			margin-top:60px;
		}
		#download{
			padding-top:200px;
			
			font-size:50px;
		}
		#app{
			height:80px;
			margin:10px;
			}
	</style>
